:root {
  --main-color: #c10b0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divmain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  flex-direction: column;
  overflow-x: hidden;
}

.text {
  color: aliceblue;
  text-align: center;
}

.spanTitle {
  color: var(--main-color);
}

.btnApp {
  background-color: var(--main-color);
  border: none;
  padding: 0.8rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  margin: 10px;
  border-radius: 5px;
}

.btnApp:hover {
  cursor: pointer;
}

.carIcon {
  position: relative;
  cursor: pointer;
}

.carIcon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 0px;
  height: 6px;
  background-color: var(--main-color);
  margin-left: 10px;
  border-radius: 5px;
  animation: road 2s linear 2.5s;
}

@keyframes road {
  0% {
    width: 150px;
  }
  100% {
    width: 0px;
  }
}

.arrowIcon {
  cursor: pointer;
  position: relative;
  top: 10vh;
  animation: jump 0.8s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0);
  }
}
.arrowIcon:hover {
  color: white;
}

.divsecond {
  background-color: #f7dcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  text-align: center;
}

.divsecond a {
  text-decoration: none;
  color: var(--main-color);
}

.line {
  display: block;
  height: 1px;
  width: 90vw;
  background-color: black;
  margin-block: 2rem;
}

.contacts {
  display: flex;
}
