:root {
  --main-color: #c10b0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.text {
  color: aliceblue;
  text-align: center;
}

.spanTitle {
  color: var(--main-color);
}

.btnApp {
  background-color: var(--main-color);
  border: none;
  padding: 0.8rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  margin: 10px;
  border-radius: 5px;
}

.btnApp:hover {
  cursor: pointer;
}
